body {
	background-color: #C0C0C0;
	color: #202020;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
}

table {
	border: 2px solid #ffffff;
}

.box {
	border: 2px solid #000000;
	padding: 10px;
}

button {
	background-color: #ffffff;
	font-family: tahoma;
	font-size: 11.5px;
	text-transform: uppercase;
}

.maintext {
	font-weight: bold;
}
	
.dps {
	padding: 2px;
	border-spacing: 5px;
	border-collapse: separate;
	font-weight: bold;
	font-family: Verdana;
	font-size: 13px;
	text-align: center;
	border:  2px solid #ffffff;
	border-left: 2px solid #fff; 
	margin: 2px;
}

.titlebar {
	text-decoration:underline;
	font-size: 17px;
	font-family: Tahoma;
}