body {
	background-color: black;
	color: white;
}

table, tr, td, th{

	font-size: 15pt;
	
}

td, th{
	padding: 8px;
}

.header{
	width: 100%;
	height: 5%;
	text-align:right;
}

.line{
	width:100%;
	height: 1px;
	background: white;
}

.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-color: #f1f1f1;*/
}
.tab li {float: right; padding-right: 20px;}

/* Style the links inside the list items */
.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;

}

/* Change background color of links on hover */
.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.profile{
	border: 1px solid white; 
	height: 80%;
	width:20%;
	float:left;
	text-align: center;
}
.profile img{
	padding-top: 20px;
	width: 200px;
	height: 300px;
	
}

.levels{
	height: 80%;
	width: 10%;
	display: inline-block;
}

.separator{
	width: 1px;
	height:80%;
	background: white;
	display: inline-block;
	
}

.fighters{
	text-align: center;
	padding: 20px 20px;
	cursor: pointer;
	
}

.individual:hover, .individual:active{
	color: #ccc;
}

.fighter-list{
	padding-left: 50px;
	width: 60%;
	height:80%;
	display: inline-block;
}

.fighter-list table, .fighter-list td, .fighter-list tr{
	border-collapse: collapse;
}


.details td, .details tr, .details table{
	font-size:15pt;
	padding:1px;
	border: none;
}